body, html {
  height: 100%;
}
.view {
  color: white;
  text-align: center;
  padding: 75px 0;
  background-color: #5337b6;
  background-image: url(/img/bg.png);
  height: 100%;
  padding-top: 0px;
  overflow: auto;
}


@media (min-width: 768px) and (max-width: 1023px){
  .header {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 30px;
    width: 970px;
  }
}
@media (min-width: 1024px){
  .header {
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 40px;
    width: 970px;
  }
}

h1 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 86px;
}
@media (max-width: 425px){
  h1 {
    font-size: 42px;
  }
}
h1 span {
  color: #000000;
}
.input-group {
  position: relative;
  margin: 0 auto;
}
.input-group input, .input-group input:active {
  background-color: rgba(51, 37, 102, 0.53);
    border-color: #412d87;
    box-shadow: inset 0 0 10px #34246a;
    border-radius: 0px;
    color: #ffffff;
}
.input-group input:focus {
  border-color: #958abc;
  color: #ffffff;
}
.input-group-btn button, .input-group-btn button:active, .input-group-btn button:visited, .input-group-btn button:focus{
  background-color: #332566;
  border-color: #332566;
  color: #a89dd0;
  border-radius: 0px;
}

.input-group-btn button:hover{
  cursor: pointer;
  background-color: #332566;
  border-color: #332566;
  color: #a89dd0;
  border-radius: 0px;
}
.feed-link{
  display: block;
  text-align: right;
}
small {
  display: inline-block;
  color: #1a1b1b;
  text-decoration: underline;
}
.ball {
  width: 50vh;
  position: relative;
  margin: 0 auto;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}
.ball.shake {
    -webkit-animation: shake .7s 1;
    -moz-animation: shake .7s 1;
    -o-animation: shake .7s 1;
    animation: shake .7s 1;
}
.bubble {
    position: relative;
    background: #FFFFCC;
    border: 1px solid #FFCC00;
    max-width:250px;
    padding:10px;
    font-family:arial;
    margin:0 auto;
    font-size:14px;
    border-radius:6px;

}
.bubble:after,
.bubble:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.bubble:after {
    border-color: rgba(255, 255, 204, 0);
    border-right-color: #FFFFCC;
    border-width: 15px;
    margin-top: -15px;
}
.bubble:before {
    border-color: rgba(255, 204, 0, 0);
    border-right-color: #FFCC00;
    border-width: 16px;
    margin-top: -16px;
}
.modal-dialog {
  color: black;
  text-align: left;
}
#share{
  background-color: #cdd422;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Droid Sans', sans-serif;
  margin-left: auto;
  margin-right: auto;
  padding: 4px 15px;
  border: none;
  position: relative;
  display: block;
  margin-top: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 3px;
  box-shadow: inset 0 -4px 1px -1px #9c9c02;
  position: relative;
  right: 13px;
}
#share:hover {
  background-color: #9c9c02;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  box-shadow: none;
}
.feed {
  background-color: rgba(156, 146, 192, 0.48);
  position: relative;
  top: 40px;
}
.red {
  color: #ae0707;
}
table {
  text-align: left;
}
.table-wrapper {
  width: 100%;
  overflow: auto;
  height: 100%;
}
thead {
  font-weight: bold;
}
tbody {
  color: #cdc2fa;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #4e36a4;
}
#play-again {
  width: 150px;
  position: absolute;
  left: -40px;
  top: -40px;
  cursor: pointer;
  z-index: 1;
}
@media (max-width: 768px) {
  #play-again {
    width: 100px;
  }
}
